@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

.main {
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa {
    width: 90%;
    max-width: 800px;
    height: 50px;
    margin-top: 45px;
    display: flex;
    background-color: rgba(244, 244, 255, 1);
    align-items: center;
    border-radius: 4px;
    padding: 0 15px;
    border: none;
}

.lupa {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.inputPesquisa {
    width: 100%;
    border: none;
    background-color: rgba(244, 244, 255, 1);
    font-size: 20px;
    font-weight: 400;
    color: rgba(9, 9, 55, 0.4);
}

input:focus {
    outline: none;
}

.headerGenero {
    width: 90%;
    max-width: 1320px;
    margin-top: 45px;
    padding-left: 20px;
}

.irHome {
    font-size: 24px;
    font-weight: 700;
    color: rgba(9, 9, 55, 1);
    text-decoration: none;
    width: 100%;
    max-width: 240px;
    margin-left: -20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.setaVoltar {
    width: 9.04px;
    height: 15.79px;
    margin-right: 5px;
}

.listaLivros {
    max-width: 1320px;
    margin-top: 31px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 0 40px;
    box-sizing: border-box;
    margin-bottom: 64px;
}