@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

.main {
  width: 100%;
  font-family: 'Manrope';
}

.espaçoBanner {
  width: 1320px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: 40px auto 92px;
  position: relative;
  border-radius: 8px;
}

.imagemBanner {
  width: 96%;
  height: 100%;
}

.textoBanner {
  position: absolute;
  top: 80px;
  left: 80px;
  color: #fff;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.5;
}

.destaqueTexto {
  color: rgba(240, 184, 97, 1);
  font-size: 56px;
  font-weight: 800;
}

.secaoGenero {
  margin: 0 auto 92px;
  padding: 0px 40px;
}

.cabecalhoSecao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  width: 99%;
  margin-bottom: 20px;
}

.tituloGenero {
  font-size: 32px;
  font-weight: 700;
  color: rgba(9, 9, 55, 1);
}

.verMaisLink {
  color: rgba(239, 107, 74, 1);
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.listaLivros {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
}

.cardLivro {
  height: 200px;
  width: 300px;
  background-color: #F8F8F8;
  border-radius: 8px;
  text-decoration: none;
  flex-shrink: 0;
  border: 1px solid rgba(9, 9, 55, 0.1);
}


.conteudoCard {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.capaLivro {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(98, 81, 221, 0.2);
}

.detalhesLivro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 20px;
  padding: 15px 0;
  box-sizing: border-box;
}

.tituloLivro {
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  color: rgba(9, 9, 55, 1);
}

.autorLivro {
  font-size: 16px;
  font-weight: 600;
  width: 100px;
  color: rgba(9, 9, 55, 0.6);
  margin: 5px 0;
}

.precoLivro {
  font-size: 24px;
  font-weight: 700;
  color: rgba(98, 81, 221, 1);
  margin-top: auto;
}